In [5]:
import os
import pandas as pd

In [2]:
os.listdir()

['SETD2KO_ATAC_peaks.bed',
 '.DS_Store',
 'SETD2_ATAC.intron.bed',
 'PA_ATAC.promoter.bed',
 'K36M_ATAC.intron.bed',
 'PA_ATAC.intron.bed',
 'Untitled.ipynb',
 'anno_reg.py',
 'PA_ATAC.intergenic.bed',
 'K36M_ATAC.intergenic.bed',
 'SETD2_ATAC.promoter.bed',
 'atacseq.sh',
 'atac_seq_analysis.ipynb',
 'NSD12DKO_ATAC.intergenic.bed',
 'NSD12DKO_ATAC.intron.bed',
 'SETD2KO_ATAC.csv',
 'NSD12DKO_ATAC.csv',
 'K36M_ATAC.promoter.bed',
 '.ipynb_checkpoints',
 'PA_ATAC.csv',
 'NSD12DKO_ATAC_peaks.bed',
 'NSD12DKO_ATAC.promoter.bed',
 'K36M_ATAC.csv',
 'H33K36M_ATAC_peaks.bed',
 'PA_ATAC_peaks.bed',
 'SETD2_ATAC.intergenic.bed']

In [64]:
filenames = ['NSD12DKO_ATAC.promoter.bed', 'K36M_ATAC.promoter.bed','SETD2_ATAC.promoter.bed','PA_ATAC.promoter.bed']
# Open file3 in write mode
with open('file3.bed', 'w') as outfile:
  
    # Iterate through list
    for names in filenames:
  
        # Open each file in read mode
        with open(names) as infile:
  
            # read the data from file1 and
            # file2 and write it in file3
            outfile.write(infile.read())
  
        # Add '\n' to enter data of file2
        # from next line
        outfile.write("\n")

In [55]:
def merge_bed(x,y):
    filenames = x
    with open(y, 'w') as outfile:
    # Iterate through list
        for names in filenames:
        # Open each file in read mode
            with open(names) as infile:
            # read the data from file1 and
            # file2 and write it in file3
                outfile.write(infile.read())
            # Add '\n' to enter data of file2
            # from next line
            outfile.write("\n")

In [56]:
merge_bed(filenames,'example.bed')

In [52]:
df=pd.read_table('file3.bed',header=None)

In [53]:
df

          0          1          2                        3    4  5
0      chr1    4785394    4785947     NSD12DKO_ATAC_peak_1  123  .
1      chr1    4807565    4808172     NSD12DKO_ATAC_peak_2   44  .
2      chr1    4857385    4857927     NSD12DKO_ATAC_peak_3  418  .
3      chr1    5070277    5070576     NSD12DKO_ATAC_peak_7  175  .
4      chr1    5082869    5083291     NSD12DKO_ATAC_peak_8  234  .
...     ...        ...        ...                      ...  ... ..
28872  chrX  168672457  168672761  SETD2KO_ATAC_peak_28726  123  .
28873  chrX  168673766  168674032  SETD2KO_ATAC_peak_28727   85  .
28874  chrX  168674288  168674496  SETD2KO_ATAC_peak_28728   57  .
28875  chrX  169112672  169112958  SETD2KO_ATAC_peak_28732   63  .
28876  chrX  169320266  169320653  SETD2KO_ATAC_peak_28734  261  .

[28877 rows x 6 columns]

In [27]:
df=['df1','df2','df3']

In [ ]:
coins = ["Bitcoin", "Ethereum", "Cardano"]
prices = [48000,2585,2]
for i, coin in enumerate(coins):
    price = prices[i]
    print(f"${price} for 1 {coin}")

In [29]:
for j,i in zip(df, filenames):
    df[j] = pd.read_table(filenames[i])

TypeError: list indices must be integers or slices, not str

In [47]:
df1=pd.read_table(filenames[0],header=None)

In [48]:
df1

          0          1          2                         3    4  5
0      chr1    4785394    4785947      NSD12DKO_ATAC_peak_1  123  .
1      chr1    4807565    4808172      NSD12DKO_ATAC_peak_2   44  .
2      chr1    4857385    4857927      NSD12DKO_ATAC_peak_3  418  .
3      chr1    5070277    5070576      NSD12DKO_ATAC_peak_7  175  .
4      chr1    5082869    5083291      NSD12DKO_ATAC_peak_8  234  .
...     ...        ...        ...                       ...  ... ..
10093  chrX  168672471  168672772  NSD12DKO_ATAC_peak_26265  158  .
10094  chrX  168673385  168673584  NSD12DKO_ATAC_peak_26266   54  .
10095  chrX  168673833  168674405  NSD12DKO_ATAC_peak_26267   88  .
10096  chrX  169320129  169320755  NSD12DKO_ATAC_peak_26271  191  .
10097  chrX  169879422  169879627  NSD12DKO_ATAC_peak_26274   97  .

[10098 rows x 6 columns]

In [49]:
df2=pd.read_table(filenames[1],header=None)

In [50]:
df3=pd.read_table(filenames[2],header=None)

In [36]:
listed=[df1,df2,df3]

In [39]:
for i in listed:
   print(len(listed[i])

SyntaxError: unexpected EOF while parsing (<ipython-input-39-a2b104179983>, line 2)

In [51]:
len(df1) + len(df2) + len(df3)

28877

In [41]:
len(df2)

8085

In [42]:
len(df3)

10692

In [57]:
10693+10098+8086

28877

In [60]:
def union(x,y):
    filenames=x
    with open(y, 'w') as outfile:
        for fname in filenames:
            with open(fname) as infile:
                for line in infile:
                    outfile.write(line)

In [65]:
union(filenames,'example4.bed')

In [63]:
as.list

SyntaxError: invalid syntax (<ipython-input-63-81ed349c98bc>, line 1)

In [66]:
filenames = ['NSD12DKO_ATAC.promoter.bed', 'K36M_ATAC.promoter.bed','SETD2_ATAC.promoter.bed','PA_ATAC.promoter.bed']
# Open file3 in write mode

In [68]:
union(filenames,'example-promoter.bed')

In [69]:
filenames[0]

'NSD12DKO_ATAC.promoter.bed'

In [70]:
filenames[:]

['NSD12DKO_ATAC.promoter.bed',
 'K36M_ATAC.promoter.bed',
 'SETD2_ATAC.promoter.bed',
 'PA_ATAC.promoter.bed']