In [1]:
import pandas as pd
import os

In [2]:
os.listdir()

['SETD2KO_ATAC_peaks.bed',
 '.DS_Store',
 'SETD2_ATAC.intron.bed',
 'PA_ATAC.promoter.bed',
 'K36M_ATAC.intron.bed',
 'PA_ATAC.intron.bed',
 'anno_reg.py',
 'PA_ATAC.intergenic.bed',
 'K36M_ATAC.intergenic.bed',
 'SETD2_ATAC.promoter.bed',
 'atacseq.sh',
 'atac_seq_analysis.ipynb',
 'NSD12DKO_ATAC.intergenic.bed',
 'NSD12DKO_ATAC.intron.bed',
 'SETD2KO_ATAC.csv',
 'NSD12DKO_ATAC.csv',
 'K36M_ATAC.promoter.bed',
 '.ipynb_checkpoints',
 'PA_ATAC.csv',
 'NSD12DKO_ATAC_peaks.bed',
 'NSD12DKO_ATAC.promoter.bed',
 'K36M_ATAC.csv',
 'H33K36M_ATAC_peaks.bed',
 'PA_ATAC_peaks.bed',
 'SETD2_ATAC.intergenic.bed']

In [115]:
df = pd.read_csv("K36M_ATAC.csv")

In [116]:
df_intron = df.loc[df['annotation'].str.contains('Intron')]

In [118]:
len(df_intron)

4499

In [3]:
def annotate(x):
    with open(x,'r') as file:
        df = pd.read_csv(file)
        df_promoter = df.loc[df['annotation']=='Promoter']
        df_intergenic = df.loc[df['annotation']=='Distal Intergenic']
        df_intron = df.loc[df['annotation'].str.contains('Intron')]
        df_promoter = df_promoter.loc[:,['seqnames','start','end','V4','V5','V6']]
        df_intergenic = df_intergenic.loc[:,['seqnames','start','end','V4','V5','V6']]
        df_intron = df_intron.loc[:,['seqnames','start','end','V4','V5','V6']]
        return([df_promoter,df_intergenic,df_intron])

In [101]:
df = annotate("SETD2KO_ATAC.csv")

In [109]:
df_promoter = df[0]

In [110]:
df_intergenic = df[1]

In [111]:
df_intron = df[2]

In [112]:
len(df_intron)

8793

In [114]:
import argparse

In [4]:
def annotate(x):
    with open(x,'r') as file:
        df = pd.read_csv(file)
        df_promoter = df.loc[df['annotation']=='Promoter']
        df_promoter = df_promoter.loc[:,['seqnames','start','end','V4','V5','V6']]
        return(df_promoter)

In [5]:
bedfiles = ['K36M_ATAC.csv','PA_ATAC.csv']

In [6]:
for i in range(len(bedfiles)):
    bedfiles[i] = annotate(bedfiles[i])

In [9]:
bedfiles[0]

      seqnames      start        end                       V4   V5 V6
1         chr1    4785440    4785809      H33K36M_ATAC_peak_2   43  .
2         chr1    4857408    4857857      H33K36M_ATAC_peak_3  235  .
3         chr1    5017956    5018155      H33K36M_ATAC_peak_4   67  .
5         chr1    5070277    5070531      H33K36M_ATAC_peak_6  103  .
6         chr1    5083007    5083354      H33K36M_ATAC_peak_7  119  .
...        ...        ...        ...                      ...  ... ..
17700     chrX  168673388  168673636  H33K36M_ATAC_peak_17701  148  .
17701     chrX  168673785  168674118  H33K36M_ATAC_peak_17702  111  .
17706     chrX  169320172  169320686  H33K36M_ATAC_peak_17707  208  .
17709     chrX  169879501  169879700  H33K36M_ATAC_peak_17710   80  .
17711     chrX  169974944  169975151  H33K36M_ATAC_peak_17712   65  .

[8086 rows x 6 columns]

In [10]:
bedfiles[1]

      seqnames      start        end                  V4   V5 V6
0         chr1    4785592    4785957      PA_ATAC_peak_1  114  .
1         chr1    4807580    4808172      PA_ATAC_peak_2  106  .
2         chr1    4857390    4857913      PA_ATAC_peak_3  596  .
3         chr1    5019338    5019580      PA_ATAC_peak_4   80  .
5         chr1    5070277    5070587      PA_ATAC_peak_6  206  .
...        ...        ...        ...                 ...  ... ..
26518     chrX  168672467  168672778  PA_ATAC_peak_26519  125  .
26519     chrX  168673404  168673685  PA_ATAC_peak_26520  107  .
26520     chrX  168673765  168674170  PA_ATAC_peak_26521  107  .
26523     chrX  169112624  169112962  PA_ATAC_peak_26524   58  .
26526     chrX  169320297  169320616  PA_ATAC_peak_26527  173  .

[10417 rows x 6 columns]