In [2]:
import pandas as pd
import os

In [9]:
os.listdir()

['SETD2KO_ATAC_peaks.bed',
 'atac_seq_analysis.ipynb',
 'SETD2KO_ATAC.csv',
 'NSD12DKO_ATAC.csv',
 '.ipynb_checkpoints',
 'PA_ATAC.csv',
 'NSD12DKO_ATAC_peaks.bed',
 'K36M_ATAC.csv',
 'H33K36M_ATAC_peaks.bed',
 'PA_ATAC_peaks.bed']

In [14]:
df = pd.read_csv("SETD2KO_ATAC.csv")

In [17]:
df

,Unnamed: 0,seqnames,start,end,width,strand,V4,V5,V6,annotation,geneChr,geneStart,geneEnd,geneLength,geneStrand,geneId,transcriptId,distanceToTSS
0,1,chr1,4785397,4786073,677,*,SETD2KO_ATAC_peak_1,130,.,Promoter,1,4773206,4785710,12505,2,27395,ENSMUST00000130201.7,0
1,2,chr1,4807602,4807890,289,*,SETD2KO_ATAC_peak_2,136,.,Promoter,1,4807788,4848410,40623,1,18777,ENSMUST00000134384.7,0
2,3,chr1,4857385,4857873,489,*,SETD2KO_ATAC_peak_3,382,.,Promoter,1,4857814,4897905,40092,1,21399,ENSMUST00000081551.13,0
3,4,chr1,5000198,5000397,200,*,SETD2KO_ATAC_peak_4,43,.,"Intron (ENSMUST00000002533.14/58175, intron 1 ...",1,4910402,5018735,108334,2,58175,ENSMUST00000119256.7,18338
4,5,chr1,5015410,5015671,262,*,SETD2KO_ATAC_peak_5,116,.,"Intron (ENSMUST00000002533.14/58175, intron 1 ...",1,4910402,5018735,108334,2,58175,ENSMUST00000119256.7,3064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28745,28746,chrY,90726137,90726336,200,*,SETD2KO_ATAC_peak_28746,77,.,Distal Intergenic,21,90752427,90755467,3041,2,654820,ENSMUST00000238676.1,29131
28746,28747,chrY,90732308,90732512,205,*,SETD2KO_ATAC_peak_28747,69,.,Distal Intergenic,21,90752427,90755467,3041,2,654820,ENSMUST00000238676.1,22955
28747,28748,chrY,90739879,90740586,708,*,SETD2KO_ATAC_peak_28748,113,.,Distal Intergenic,21,90752427,90755467,3041,2,654820,ENSMUST00000238676.1,14881
28748,28749,chrY,90761293,90761589,297,*,SETD2KO_ATAC_peak_28749,115,.,Intron (ENSMUST00000167967.3/ENSMUST0000016796...,21,90752427,90755467,3041,2,654820,ENSMUST00000238676.1,-5826
28749,28750,chrY,90808730,90808929,200,*,SETD2KO_ATAC_peak_28750,73,.,"Intron (ENSMUST00000179483.8/170942, intron 3 ...",21,90790451,90816465,26015,1,170942,ENSMUST00000238471.1,18279

In [42]:
df_promoter = df.loc[df['annotation'] == "Promoter"]

In [31]:
df_promoter = df.loc[:,['seqnames','start','end','V4','V5','V6']]

In [47]:
len(df_promoter)

10693

In [48]:
df_promoter.to_csv('example.tsv', sep="\t",index=False,header=False)

In [46]:
len(df_promoter)

10693

In [49]:
def annotate(x):
	df = pd.read_csv(x)
	df = df.loc[df['annotation']=='Promoter']
	df = df.loc[:,['seqnames','start','end','V4','V5','V6']]
	return(df)

In [50]:
df = annotate("SETD2KO_ATAC.csv")

In [51]:
df

      seqnames      start        end                       V4   V5 V6
0         chr1    4785397    4786073      SETD2KO_ATAC_peak_1  130  .
1         chr1    4807602    4807890      SETD2KO_ATAC_peak_2  136  .
2         chr1    4857385    4857873      SETD2KO_ATAC_peak_3  382  .
5         chr1    5019332    5019593      SETD2KO_ATAC_peak_6   70  .
7         chr1    5070233    5070517      SETD2KO_ATAC_peak_8  129  .
...        ...        ...        ...                      ...  ... ..
28725     chrX  168672457  168672761  SETD2KO_ATAC_peak_28726  123  .
28726     chrX  168673766  168674032  SETD2KO_ATAC_peak_28727   85  .
28727     chrX  168674288  168674496  SETD2KO_ATAC_peak_28728   57  .
28731     chrX  169112672  169112958  SETD2KO_ATAC_peak_28732   63  .
28733     chrX  169320266  169320653  SETD2KO_ATAC_peak_28734  261  .

[10693 rows x 6 columns]

In [52]:
f = open('SETD2KO_ATAC.csv')

In [62]:
f = open('SETD2KO_ATAC.csv', "r")

In [63]:
f

In [57]:
df = pd.DataFrame(f)

In [58]:
df

                                                       0
0      "","seqnames","start","end","width","strand","...
1      "1","chr1",4785397,4786073,677,"*","SETD2KO_AT...
2      "2","chr1",4807602,4807890,289,"*","SETD2KO_AT...
3      "3","chr1",4857385,4857873,489,"*","SETD2KO_AT...
4      "4","chr1",5000198,5000397,200,"*","SETD2KO_AT...
...                                                  ...
28746  "28746","chrY",90726137,90726336,200,"*","SETD...
28747  "28747","chrY",90732308,90732512,205,"*","SETD...
28748  "28748","chrY",90739879,90740586,708,"*","SETD...
28749  "28749","chrY",90761293,90761589,297,"*","SETD...
28750  "28750","chrY",90808730,90808929,200,"*","SETD...

[28751 rows x 1 columns]

In [70]:
def annotate(x):
	with open(x,'r') as file:
		df = pd.read_csv(file)
		df_promoter = df.loc[df['annotation']=='Promoter']
        df_intergenic = df.loc[df['annotation']=='Distal Intergenic']
        df_promoter = df_promoter.loc[:,['seqnames','start','end','V4','V5','V6']]
        df_intergenic = df_intergenic.loc[:,['seqnames','start','end','V4','V5','V6']]
	return(df_promoter,df_intergenic)

TabError: inconsistent use of tabs and spaces in indentation (<ipython-input-70-5fc815ab78cb>, line 5)

In [73]:
def annotate(x):
	with open(x,'r') as file:
		df = pd.read_csv(file)
		df_promoter = df.loc[df['annotation']=='Promoter']
        df_intergenic = df.loc[df['annotation']=='Distal Intergenic']
		df = df.loc[:,['seqnames','start','end','V4','V5','V6']]
		return(df)

TabError: inconsistent use of tabs and spaces in indentation (<ipython-input-73-ec700035dffa>, line 5)

In [66]:
good

      seqnames      start        end                       V4   V5 V6
0         chr1    4785397    4786073      SETD2KO_ATAC_peak_1  130  .
1         chr1    4807602    4807890      SETD2KO_ATAC_peak_2  136  .
2         chr1    4857385    4857873      SETD2KO_ATAC_peak_3  382  .
5         chr1    5019332    5019593      SETD2KO_ATAC_peak_6   70  .
7         chr1    5070233    5070517      SETD2KO_ATAC_peak_8  129  .
...        ...        ...        ...                      ...  ... ..
28725     chrX  168672457  168672761  SETD2KO_ATAC_peak_28726  123  .
28726     chrX  168673766  168674032  SETD2KO_ATAC_peak_28727   85  .
28727     chrX  168674288  168674496  SETD2KO_ATAC_peak_28728   57  .
28731     chrX  169112672  169112958  SETD2KO_ATAC_peak_28732   63  .
28733     chrX  169320266  169320653  SETD2KO_ATAC_peak_28734  261  .

[10693 rows x 6 columns]